<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>h5活动demo</title>
  <%- include _inc-head.ejs %>
</head>
<body>
    <div class="container">
        <div class="page">
          <ul class="demo-list">
            <li class="sp-bottle"></li>
            <li class="sp-game"></li>
            <li class="sp-jd"></li>
            <li class="sp-locaitonservice"></li>
          </ul>
          <ul class="demo-list">
            <li class="sp-icon-moment"></li>
            <li class="sp-icon-qrcode"></li>
            <li class="sp-icon-shake"></li>
          </ul>
        </div>
    </div>
</body>
<%- include _inc-foot.ejs %>
<!--当前页面脚本-->
<script type="text/javascript">
  $(function(){
    // that start
  });
</script>
</html>